@font-face {
    font-family: 'Raleway' ;
    src: url(Raleway-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;  
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* ************ HEADER *********** */

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;  
}

header img {
    height: 50px;
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: baseline;
}

nav ul {
    display: flex;
}

nav a {
    margin: 20px;
    padding: 15px;
}

nav li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 30px;
}

#inscrire {
    color: #0065FC;
    font-weight: bold;
}

/* ************** SECTION HEBERGEMENTS ************* */

/* ***************** RECHERCHE ***************** */
.formulaire {
    margin: 20px;
}

h1 {
    font-size: 20px;
}

form {
    display: flex;
    
}

.localisation_logo {
    padding: 8px;
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
    border: 1px solid rgba(208, 214, 208, 0.253);
    border-right: none;
    text-align: center;
}

#search {
    
    height: 40px;
    border-right: none; 
    border-left: none;
    border: rgba(214, 208, 208, 0.253) 1px solid;
    font-weight: bold;
    padding-left: 10px;
    
}
#bouton {
    
    height: 40px;
    border: rgba(214, 208, 208, 0.281) 1px solid;
    border-left: none;
    border-radius: 0 12px 12px 0;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px;
}

button {
    display: none;
}

/* *************** FILTRES ************** */

.filtres {
    display: flex;
    align-items: baseline;
    font-weight: bold; 
    margin-left: 20px;
}


.filtres ul {
    display: flex;
    flex-wrap: wrap; 
}

.filtres li {
    border: 3px solid #F2F2F2;
    display: flex;
    border-radius: 50px;
    align-items: center;
    margin-left: 30px;
    padding-right: 15px;     
}

.filtres li:hover {
    cursor: pointer;
    background-color: #0065FC;
    color: white;
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}


.filtres i {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    padding-top: 10px;
    margin-right: 20px;
    background-color: #DEEBFF;
    color: #0065FC;  
}

.nombre_logements {
    display: flex;
    align-items: baseline;
}

.nombre_logements i {
    width: 20px;
    height: 20px;
    padding-top: 2px;
    font-size: 13px ;
    text-align: center;
    margin: 10px;
    color: #0065FC;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 100%;
}

/* *************** HOTELS ************ */

/* ************* PREMIER BLOC ************* */
.hotels {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}


.premier_bloc {
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 15px; 
    padding: 15px; 
}

.premier_bloc h2, .premier_bloc p:last-child {
    margin-left: 25px;
    font-weight: bold;
}

.premier_bloc p:last-child:hover {
    cursor: pointer;
}

.premier_bloc a {
    display: block;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    width: 30%;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.13);
}

.premier_bloc a:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

.premier_bloc img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.premier_bloc h3 {
    margin: 10px 0 5px 5px; 
}

.logements_premier_bloc p {
    margin:0 0 5px 5px;
}

.premier_bloc .etoiles {
    margin:0 0 5px 5px;
    color: #0065FC;
}

.logements_premier_bloc {
    display: flex;
    flex-direction: column;
}

.liste_top, .liste_bot {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

/* ************** ASIDE ************* */

aside {
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 15px;
    padding-top: 15px;
}

.titre_aside {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.logements_aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
    width: 100%;
}

aside a {
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.13);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
}

aside a:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

aside img {
    object-fit: cover;
    height: 140px;
    width: 35%;
    border-radius: 15px 0 0 15px;
}

aside h3, aside p {
    margin: 10px 0 0 15px;
}

.etoiles_aside  {
    margin: 30px 0 0 15px;
    color: #0065FC;
}

.gris {
    color: #DEEBFF;
}

/* *********** ACTIVITES ********* */

.activités h2 {
    margin-left: 20px;
}
.activités img {
    width: 305px;
    object-fit: cover;
}

.liste_activités {
    display: flex;
    justify-content: space-around;
}

.liste_activités a:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.liste_activités h3 {
    margin-left: 15px;
}

.grande_img {
    height: 390px;
    border-radius: 15px 15px 0 0;
}

.petite_img {
    height: 150px;
    border-radius: 15px 15px 0 0 ;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grande_activité {
    border-radius: 15px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.13);
    height: max-content;
}

.petite_activité {
    border-radius: 15px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.13);
}

/* *********** FOOTER ********** */

footer {
    display: flex;
    justify-content: space-around;
    background-color:#F2F2F2;
    margin-top: 20px;
}

footer a:hover {
    text-decoration: underline black;
}
footer h3 {
    margin-left: 43px;
}
footer li {
    padding: 5px;
}

/* *********** MEDIA QUERIES *********** */


@media screen and (max-width:1300px) {

    .hotels {
        flex-direction: column-reverse;
    }

    /* ************ POPULAIRE ********* */
    aside {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .titre_aside {
        justify-content: space-between;
    }
    aside h2 {
        padding-left: 50px;
    }

    .titre_aside i {
        padding-right: 50px;
    }

    .logements_aside {
        margin: auto;
    }   

    aside a {
        margin-top: 20px;
    }

    /* ************ HEBERGEMENTS ********* */
    .premier_bloc {
        width: 100%;
    }

    /* ********* ACTIVITÉS ******** */
    .liste_activités {
        display: block;
    }

    .activités img {
        width: 100%;
        object-fit: cover;
    }
    .activités a {
        display: block;
        margin: 20px;
    }
    .grande_activité {
        padding-bottom: 5px;
    }

    .petite_activité {
        height: max-content;
    }

    .petite_img {
        height: 380px;
    }
}   

@media screen and (max-width:640px) {
    
    /* HEADER */
    nav {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: flex-end;
        margin: 0 auto;
    }

    header img {
        position: absolute;
        margin: 15px;
    }

    nav ul {
        margin: 0 auto;
        width: 100%;
        padding-inline-start: 0;
        text-align: center;
    }

    nav li {
        width: 50%;
        border-bottom: #F2F2F2 3px solid;
        padding-bottom: 10px;
        
    }
    nav ul a {
        font-size: 16px; 
    }

    nav li:hover {
        border-bottom: #0065FC 3px solid;
    }

    nav li a:hover{
        border-top: none;   
    }

        /* RECHERCHE */
        
    h1{
        font-size: 20px;
    }
    form {
        margin-left: 15px;
    }
    .localisation_logo {
        height: 45px;
        width: 45px;
        padding: 10px;
    }
    #search {
        width: 220px;
        height: 45px;
    }
    #bouton {
        display: none;
    }
        
    button {
        display: block;
        border: none;
        border-radius: 12px;
        background-color: #0065FC;
        color: white;
        font-size: 16px;
        padding:0 15px 0 15px;
        text-align: center;
        position: relative;
        right: 10px;
    }
        /* FILTRES  */

    .filtres {
            display: block;
    }

    .nombre_logements i {
        width: 25px;
    }
        /* HOTELS */

    .hotels {
        margin: 0;
    }
        /* POPULAIRE */

    aside {
        border-radius: 0;
        width: 100%;
        margin: 0 auto;  
    }
    aside a {
        width: 90%;
        height: 140px;   
    }

    aside img {
        height: auto;
    }


        /* HEBERGEMENTS */

    .premier_bloc h2 {
        font-size: 21px;
        margin-left: auto;   
    }

    .premier_bloc {
      background: none;  
    }

    .premier_bloc a {
        width: 100%;
        margin-bottom: 20px;    
    }

    .liste_top, .liste_bot {
        display: block;
        width: 100%;
        margin-bottom: -20px;    
    }

        /* ACTIVITÉS */

    .activités h2 {
        margin-left: 15px;
        font-size: 21px;
    }

    .activités img {
        height: 133px;
    }

    .activités a {
        height: auto;
        margin: 10px;
    }

        /* FOOTER  */
        
    footer {
        display: block;
        padding: 50px;
    }
}